$bg-main: #0f172a;
$bg-header: #0b0e11;
$border-color: #2f3336;
$bg-footer: #0f172a;
$color-text: #f8fafc;
$font-main: 'Inter', system-ui, -apple-system, Roboto, sans-serif;
$bg-button1: #38bdf8;
$bg-button2: #F3BA2F;
$fs-base: 1rem;
$fs-card-price: 1.25rem;


$color-input-bg: #2b2f36;
$color-input-border: #474d57;
$color-white-90: rgba(255, 255, 255, 0.9);
$color-white-10: rgba(255, 255, 255, 0.1);
$color-white-05: rgba(255, 255, 255, 0.05);
$color-white-03: rgba(255, 255, 255, 0.03);
$color-white-02: rgba(255, 255, 255, 0.02);
$color-status-online: #00ff88;
$color-text-muted: #848e9c;
$color-black: #000;
$color-white: #fff;
