$bg-main: #0f172a;
$bg-header: #0b0e11;
$border-color: #2f3336;
$bg-footer: #0f172a;
$color-text: #f8fafc;
$font-main: 'Inter', system-ui, -apple-system, Roboto, sans-serif;
$bg-button1: #38bdf8;
$bg-button2: #F3BA2F;
$fs-base: 1rem;
$fs-card-price: 1.25rem;
